[submodule "bower_components/quojs"]
	path = bower_components/quojs
	url = https://github.com/soyjavi/quojs
[submodule "bower_components/hope"]
	path = bower_components/hope
	url = https://github.com/soyjavi/hope
[submodule "bower_components/--force"]
	path = bower_components/--force
	url = https://github.com/Mikhus/jsurl
